.itemDiv {
  min-height: 75px;
  background: linear-gradient(30deg, #e5e5e5, #eeeeee, #cecece);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.itemDiv a {
  width: fit-content;
}
.itemImage {
  height: 70px;
}
@media (max-width: 640px) {
  .itemDiv {
    width: 100%;
  }
  .itemImage {
    width: 55px;
  }
}
.title h4 {
  margin: 5px;
}
