.mainpart {
  width: 100%;
  min-height: 120%;
  height: 120vh;
  position: relative;
  padding-top: 60px;
  margin-bottom: 0;
  z-index: 2;
}

.heroBg {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-position: 50% 50%;
  object-fit: cover;
}
.hero {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%) scale(0.5);
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
