.div {
  margin-top: 80px;
}
.login {
  user-select: none;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: auto 10px;
  padding: 0.5rem;
  background-color: #2dd4bf;
  border-radius: 3px;
}
.signup {
  margin: auto 10px;
  padding: 0.5rem;
  outline: 0.2px solid;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  color: #2dd4bf;
  text-decoration: none;
  border-radius: 3px;
  user-select: none;
}
