.mainDiv {
  width: 200px;
  padding: 10px;
  /* background: linear-gradient(30deg, #e5e5e5, #eeeeee, #e4e4e4); */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  border: 0.5px solid #cecece;
  border-radius: 15px;
  margin: 20px;
}
.mainDiv h4 {
  height: 25px;
  overflow: hidden;
}
.mainDiv a {
  color: darkslategrey;
}
.mainDiv span {
  user-select: none;
  /* margin:5px 10px; */
}
.mainDiv img {
  max-width: 100%;
  max-height: 100%;
}
